# dependencies
/node_modules
/.pnpm
/.yarn

# next.js build output
/.next/
/out/

# production & environment variables
.env
.env*.local

# sqlite local dev database
*.db
*.db-journal

# logs & OS files
*.log
.DS_Store
Thumbs.db
